.footer {
  display: flex;
  flex-direction: row;
  /* background: rgba(211, 209, 209, 0.55); */
  min-width: 56.25rem;
  width: 100%;
  min-height: 15.625rem;
  height: 100%;
  padding-top: 2rem;
  /* position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  /* height: 40px;
  background: grey; */
}
.footer img {
  width: 12rem;
  height: 3rem;
  margin-left: 3rem;
}
.footer div {
  display: flex;
  flex-direction: column;
  max-width: 18rem;
  width: 100%;
  margin-left: 3rem;
}
.footer h3 {
  height: 2.063rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 2rem;
  color: #e4842d;
}
.footer p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-top: 0.5rem;
  color: #000000;
}
.solution div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 0rem;
}
.solution img {
  width: 2rem;
  height: 2rem;
  margin-left: 0rem;
  margin-top: 1rem;
  padding-right: 1rem;
}
.what button {
  width: 17.25rem;
  height: 2.5rem;
  border: none;
  background: #e4842d;
  border-radius: 10px;
  margin-top: 2rem;
}
.what input {
  width: 276px;
  height: 40px;

  background: #fefefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 1rem;
}
.what h4 {
  width: 17.25rem;
  height: 3.25rem;
  border-radius: 10px;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;

  color: #1f2960;
}
.what {
  max-width: 30rem;
  width: 100%;
}
.solution h3 {
  font-family: "Lato";
}
.what input[type="input"]::-webkit-input-placeholder {
  margin-left: 1rem;
}
.what input[type="text"] {
  padding-left: 1rem;
}
.invalid {
  background-color: #e4842d;
}
.mobile {
  display: none;
}
@media only screen and (max-width: 56.25rem) {
  * {
    margin: 0;
  }
  .footer {
    display: none;
    /* display: flex;
    flex-direction: column;
    background: rgba(211, 209, 209, 0.55);
    min-width: 40rem;
    width: 100%;
    min-height: 15.625rem;
    height: 100%;
    padding-top: 2rem; */
    /* margin-left: 10rem; */
  }
  .mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3.8rem;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: #f6efef;
  }
  .mobile div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
  }
  .mobile div img {
    margin-top: 1rem;
    height: 2rem;
    width: 2rem;
  }
}
