* {
  margin: 0;
  padding: 0;
}
.head {
  background-image: url("/public/assets/bluebox.png");
  height: 20rem;
}
.head h1 {
  color: white;
  text-align: center;
  padding-top: 8rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
}
.para {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.para h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.head img {
  margin-left: 35rem;
}
.para ul {
  margin-left: 2rem;
}
