.home {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
.bodybottom {
  font-size: 1.3rem;
  width: 18rem;
  margin-left: 2px;
}
.container img {
  background-color: rgb(47, 47, 145);
  border-radius: 50%;
  object-fit: contain;
}
