.top {
  display: flex;
  flex-direction: row;
  background-image: url("/public/assets/bluebg.png");
  background-size: cover;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  width: 100%;
  color: white;
  /* left: 90px; */
  height: 25rem;
  display: flex;
  flex-direction: row;
  line-height: 38px;
}
.our {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  height: 24rem;
  max-width: 20rem;
  margin-top: 2rem;
  width: 100%;
  border: 1px solid #1e3477;
  border-radius: 10px 10px 0px 0px;
}
.our h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1e3477;
  color: #fefefe;
  position: relative;
  height: 5rem;
  border-radius: 10px 10px 0px 0px;
}
.our p {
  margin-top: 1rem;
  font-size: 1.4rem;
}
.topcontent {
  margin-top: 5rem;
  margin-left: 5rem;
  width: 50%;
}
.topcontent button {
  width: 12rem;
  height: 3rem;
  margin-top: 1rem;
  font-size: 20px;
  left: 0rem;
  color: aliceblue;
  background: #e4842d;
}
.topcontent p {
  padding-top: 1rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;

  color: #fefefe;
}
.topimage {
  height: 10rem;
  width: 20rem;
  margin-top: 5rem;
}
.topimage img {
  height: 100%;
  width: 100%;
}

.topcontent h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 66px;

  color: #fefefe;
}

/*

.content p {
  width: 683px;
  height: 76px;
  padding-top: 1rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;

  color: #fefefe;
}
.content button {
  position: absolute;
  width: 200px;
  height: 50px;
  margin-top: 1rem;
  font-size: 20px;
  left: 0rem;
  color: aliceblue;
  background: #e4842d;
}
.content img {
  height: 13rem;
  width: 25rem;
  margin-left: 50rem;
  position: absolute;
  top: -2rem;
}*/
.main p {
  margin-top: 2rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-bottom: 3rem;
}
.main {
  display: flex;
  flex-direction: column;
  background-image: url("/public/assets/pattern.png");
  height: fit-content;
  width: 100%;
}
.bottom {
  display: flex;
  flex-direction: column;
}
.whole {
  background-image: url("/public/assets/bottompattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 2rem;
}
.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.bott {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  height: 8rem;
}
.bottom h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #000000;
}
.where {
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
}
.container {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #1e3477;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bodybottom h4 {
  font-family: "Lato";
  font-style: inherit;
  font-weight: 350;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin: 2rem;
}
.where h4 {
  margin-top: 0.7rem;
  font-size: 1.5rem;
}
.main h2 {
  width: 1459px;
  height: 43px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #000000;
}
.main img {
  width: 158px;
  height: 0px;
  border: 1px solid #e4842d;
  position: relative;
}

.services h1 {
  margin-top: 1rem;
  text-align: center;
}
.container img {
  width: 1.5rem;
  height: 1.5rem;
}
.services img {
  margin-left: 35rem;
  margin-bottom: 2rem;
}
.services h1 {
  font-size: 2.2rem;
}
.mainbenifit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.allbenefits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
@media only screen and (max-width: 56.25rem) {
  * {
    margin: 0;
  }
  .top {
    width: 100%;
    font-size: 20px;
  }
  .topcontent {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .topimage {
    display: none;
  }
  .topcontent button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
    font-size: 15px;
    left: 0rem;
    color: aliceblue;
    background: #e4842d;
  }
  .topcontent p {
    padding-top: 1rem;
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    color: #fefefe;
  }

  .main p {
    font-size: 1.3rem;
  }
  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .our {
    width: 15rem;
    height: 20rem;
  }
  .our p {
    text-align: left;
    font-size: 1.15rem;
  }
  .our h1 {
    font-size: 1.6rem;
  }
  .services h1 {
    font-size: 3rem;
  }
  .where h4 {
    margin-top: 0.7rem;
    font-size: 1.3rem;
  }
  .bott {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    height: 8rem;
  }

  .topcontent h2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;

    color: #fefefe;
  }
}
@media screen and (max-width: 1000px) {
  .topcontent {
    margin-top: 5rem;
    margin-left: 2rem;
  }
  .topimage {
    height: 7rem;
    width: 12rem;
    margin-top: 5rem;
    margin-right: 4rem;
    margin-left: 2rem;
  }
  .container {
    width: 2rem;
    height: 2rem;
  }
  .container img {
    width: 1.2rem;
    height: 1.2rem;
  }
}
@media screen and (max-width: 480px) {
  .top {
    width: 100%;
    height: 15rem;
  }
  .topcontent {
    margin-top: 2rem;
    width: 100%;
  }
  .where h4 {
    margin-top: 0.7rem;
    font-size: 1rem;
  }
  .topcontent h2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    color: #fefefe;
  }
  .topcontent p {
    padding-top: 1rem;
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;

    color: #fefefe;
  }
  .main p {
    font-size: 0.9rem;
    line-height: 18px;
  }
  .services h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0.3rem;
  }
  .our {
    width: 20rem;
    height: 20rem;
  }
} ;
