.head {
  background-image: url("/public/assets/rear-view-businessman-talking-phone-city.png");
  color: white;
  font-style: "Lato";
  height: 30rem;
  background-repeat: no-repeat;
}
.head h1 {
  position: absolute;
  width: 291px;
  height: 60px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  margin-left: 5rem;
  margin-top: 8rem;
}
.head h3 {
  position: absolute;
  font-family: "Lato";
  font-size: 40px;
  line-height: 40px;
  margin-top: 12rem;
  margin-left: 5rem;
}
.head img {
  margin-top: 19rem;
  margin-left: 5rem;
}
.data input {
  width: 50%;
  height: 3rem;
  border-top: 0rem;
  border-left: 0rem;
  /* outline: none; */
  border-right: 0rem;
}
.data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 3rem;
  font-family: "Lato";
  font-style: normal;
  color: #194f7e;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.data div {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.data h3 {
  font-family: "Lato";
  font-style: normal;
  font-size: 28px;
  line-height: 46px;
  color: #194f7e;
}
.radio {
  font-size: 28px;
}
.radio input {
  color: black;
}
.meg h4 {
  margin-top: 2rem;
}
.meg button {
  width: 10rem;
  height: 3rem;
  border-radius: 0.5rem;
  color: white;
  background-color: #194f7e;
  margin-left: 40rem;
  margin-right: 1rem;
}
.msg input[type="text"] {
  padding-left: 1rem;
}
.abox {
  background: #656565;
  width: 100%;
  color: #fefefe;
  padding-left: 2rem;
}
.abox h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 50px;
}
.abox h4 {
  margin-top: 1rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 43px;
  width: 427px;
  height: 172px;
}
.abox div {
  display: flex;
  flex-direction: row;
  height: 2rem;
  margin-top: 1rem;
}
.radio {
  display: flex;
  flex-direction: row;
}
.radio input[type="radio"] {
  size: 2rem;
}
