.head {
  background-image: url("/public/assets/rear-view-businessman-talking-phone-city.png");
  color: white;
  font-style: "Lato";
  height: 27rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.head h1 {
  position: absolute;
  /* width: 291px; */
  height: 60px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  margin-left: 5rem;
  margin-top: 8rem;
}
.head h3 {
  position: absolute;
  font-family: "Lato";
  font-size: 30px;
  line-height: 40px;
  margin-top: 12rem;
  margin-left: 5rem;
}
.head img {
  margin-top: 19rem;
  margin-left: 5rem;
  margin-bottom: 0;
}
.data input {
  width: 50%;
  height: 3rem;
  border-top: 0rem;
  border-left: 0rem;
  outline: none;
  /* outline: none; */
  font-size: 20px;
  border-right: 0rem;
  /* background-color: rgba(0, 0, 0, 0.2); */
}
.data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2rem;

  font-family: "Lato";
  font-style: normal;
  color: #194f7e;
  width: 90%;
}
.container {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.data div {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.data h2 {
  font-family: "Lato";
  font-style: normal;
  font-size: 21px;
  line-height: 46px;
  color: #194f7e;
}
.radio {
  font-size: 25px;
}
.radio input {
  color: black;
}
.meg h4 {
  margin-top: 2rem;
}
.meg button {
  width: 10rem;
  height: 3rem;
  border-radius: 0.5rem;
  color: white;
  background-color: #194f7e;
  margin-left: 40rem;
  margin-right: 1rem;
}

.abox {
  /* background: #656565; */
  width: 80%;
  height: 73rem;
  color: hsl(0, 6%, 7%);
  margin-right: 0rem;
}
.abox h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 50px;
  margin-top: 3rem;
}
.abox h4 {
  margin-top: 1rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 43px;
  width: 427px;
  height: 172px;
}
.abox div {
  display: flex;
  flex-direction: row;
}
.radio {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 20rem;
}
.radio div {
  display: flex;
  width: 50%;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: flex-start;
  align-items: center;
}
.radio input[type="radio"] {
  size: 2rem;
}
.abox div {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.abox div img {
  width: 2.5rem;
  height: 2rem;
}
.abox div h3 {
  margin-top: -0.3rem;
  margin-left: 1rem;
}
.right {
  display: flex;
  flex-direction: column;
}
.right div {
  color: #194f7e;
}
.type {
  margin-left: 2rem;
}
.radio input[type="radio"] {
  background-color: #194f7e;
}
.meg h1 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.meg input[type="text"]::-webkit-input-placeholder {
  font-size: 2rem;
}
.meg input[type="text"] {
  width: 90%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  height: 5rem;
  font-size: 2rem;
}
.radio div h3 {
  color: black;
  margin-left: 1rem;
  width: 26rem;
}
.l {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.l h3 {
  margin-left: 1rem;
}
.invalid {
  background-color: #f58787;
}
.abox img {
  background-size: contain;
}
.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.images div {
  background-color: black;
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
  margin: 2rem 3rem 0rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.whole {
  height: 100%;
}
.type h1 {
  font-size: 23px;
}
.radio h3 {
  font-size: 19px;
}
.type h2 {
  margin-top: 0px;
  font-size: 20px;
}
@media only screen and (max-width: 56.25rem) {
  * {
    margin: 0;
    max-width: 100%;
  }
  .radio {
    display: flex;
    flex-direction: row;
  }
  .container {
    display: flex;
    flex-direction: column;
    min-width: 40rem;
    width: 100%;
    min-height: 15.625rem;
    height: 100%;
    padding-top: 2rem;
  }
  .head {
    color: white;
    font-style: "Lato";
    height: 27rem;
    background-repeat: no-repeat;
    min-width: 40rem;
    width: 100%;
  }
  .abox {
    /* background: #656565; */
    height: 40rem;
    color: #030303;
    /* padding-left: 2rem; */
  }
  .images {
    display: flex;
    flex-direction: column;
  }
  .btn-button {
    position: relative;
    margin-right: 9rem;
  }
  .li {
    margin-top: 13rem;
  }
  .images div img {
    width: 2rem;
    height: 2rem;
  }
  /* .meg button {
    display: flex;
    flex-direction: column;
    /* width: 10rem;
    height: 3rem; */
  /* border-radius: 0.5rem;
    color: white;
    background-color: #194f7e; */

  /* margin-right: 1rem; */
}
@media only screen and (max-width: 56.25rem) {
  * {
    margin: 0;
  }
  .abox {
    display: flex;
    flex-direction: column;
  }
  .images {
    display: flex;
    justify-content: flex-start;
  }
  .meg-button {
    position: relative;
    margin-right: 9rem;
  }
}
@media only screen and (max-width: 1200px) {
  * {
    margin: 0;
  }
  .abox {
    display: flex;
    flex-direction: column;
  }
  .radio {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
  }
}
