.i {
  background-image: url("../../../public/assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 26rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.operations h1 {
  color: white;
  font-size: 20;
  font-weight: 700;
  font-family: "Lato";
  margin-top: 7rem;
  margin-left: 5rem;
}
.operations h3 {
  margin-top: 1.5rem;
  color: white;
  font-size: 1.5rem;
  font-family: "Lato";
  margin-left: 5rem;
}
.operations {
  padding: 50 100 100 50;
}
.topimage {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 5rem;
  margin-left: 60rem;
  margin-top: 5rem;
}
.operations button {
  width: 13rem;
  height: 3rem;
  background-color: #e4842d;
  color: white;
  font-size: 1rem;
  margin-left: 5rem;
  margin-top: 1.5rem;
}
.para {
  font-family: "Lato";
  font-size: 20px;
  text-align: center;
  color: #000000;
  background-color: #fffdfd;
  padding: 50px 100px 40px 50px;
}
.benefits {
  background-image: url("/public/assets/Wave\ edited\ 1.png");
  height: 21rem;
}
.co img {
  background-color: rgb(50, 50, 147);
  border-radius: 50%;
  width: 4rem;
  margin-bottom: 1rem;
}
.benefits h1 {
  font-family: "Lato";
  text-align: center;
  margin-top: 1rem;
  font-size: 2.1rem;
  text-decoration: underline orange;
}
.content {
  font-family: "Lato";
  width: 20rem;
  text-align: center;
  font-size: 21px;
}
.content p {
  margin-top: 0.8rem;
  font-size: 19px;
}
.kahani {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.co {
  margin-top: 5rem;
  font-family: "Lato";
  width: 20rem;
  text-align: center;
  font-size: 21px;
}
.co p {
  margin-top: 0.8rem;
  font-size: 19px;
}
.con img {
  background-color: rgb(50, 50, 147);
  border-radius: 50%;
  width: 4rem;
  margin-bottom: 1rem;
}
.content img {
  background-color: rgb(50, 50, 147);
  border-radius: 50%;
  width: 4rem;
  margin-bottom: 1rem;
}
.con {
  font-family: "Lato";
  width: 20rem;
  text-align: center;
  font-size: 21px;
}
.con p {
  font-size: 19px;
  margin-top: 0.8rem;
}
.service h1 {
  text-align: center;
}
.home {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  width: 40rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 18px;
}
.bodybottom {
  font-size: 1.3rem;
  width: 20rem;
}
.d {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.container img {
  background-color: rgb(47, 47, 145);
  border-radius: 1rem;
}
.service {
  margin-top: 1rem;
  background-color: #edececc6;
}
.service h1 {
  padding-top: 1.5rem;
  text-decoration: underline orange;
}
.whom h1 {
  text-align: center;
}
.whom {
  background-image: url("/public/assets/unsplash_H8X-2bchJI8.png");
}
.bodybottom {
  margin-left: 1rem;
}
.bodybottom h2 {
  font-size: 21px;
}
.bodybottom p {
  font-size: 19px;
}
.o {
  display: flex;
  flex-direction: row;
  width: 26rem;
  font-size: 1.3rem;
  text-align: center;
  margin-left: 30rem;
}
.d head {
  font-size: 18px;
}
.w {
  box-sizing: border-box;

  width: 210px;
  height: 120px;
  left: 302px;
  font-size: 18px;
  text-align: center;
  padding-top: 2.2rem;
  border-radius: 0px 0px 2px 0px;
  background: #203880;
  color: white;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 15px 50px;
}
.v {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}
.h {
  box-sizing: border-box;

  width: 210px;
  height: 120px;

  font-size: 18px;
  text-align: center;
  padding-top: 2.2rem;
  border-radius: 0px 0px 2px 0px;
  background: #203880;
  color: white;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 15px 50px;
  margin-bottom: 2rem;
}
.whom h1 {
  text-decoration: underline orange;
}
@media only screen and (max-width: 56.25rem) {
  .topimage {
    display: none;
  }
}
@media only screen and (max-width: 1277px) {
  .topimage {
    display: none;
  }
  .operations h1 {
    font-size: 3.5rem;
  }
  .operations h3 {
    font-size: 2rem;
  }
}
