.nav {
  display: flex;
  flex-direction: row;
  color: #1f2960;
}
.nav img {
  margin: 9px;
  margin-left: 3vh;
}
.pages {
  display: flex;
  flex-direction: row;
  margin-left: 25vh;
}
.button {
  width: 138px;
  height: 44px;
  outline: none;
  border: none;
  background: #efedec;
  border-radius: 10px;
  margin-left: 2rem;
  margin: 9px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #1f2960;
}
